<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="chat" layout:fragment="main_chat">
		<div class="chat-header">
			<div class="left-header">
				<div class="header-title" th:text="${roomName}"></div>
			</div>
			<div class="right-header">
				<div class="header-button">
					<a href="#">チャットを終了する</a>
				</div>
			</div>
		</div>

		<div class="messages">
			<div class="message" th:each="message: ${messages}">
				<div class="upper-message">
					<div class="message-user" th:text="${message.name}"></div>
					<div class="message-date" th:text="${message.createdAt}">></div>
				</div>
				<div class="lower-message">
					<div class="message-content" th:text="${message.content}"></div>
					<img th:if="${message.image != 'data:image/png;base64, '}" class="message-image" th:src="${message.image}" alt="">
				</div>
			</div>
		</div>

		<form class="form" th:action="@{'/rooms/'+${roomId}+'/message'}" method="post" th:object="${form}" enctype="multipart/form-data">
			<div class="form-input">
				<input th:field="*{content}" th:errorclass="is-invalid" class="form-message" placeholder="type a message">
				<div class="invalid-feedback" th:errors="*{content}"></div>
				<label class="form-image"> 
					<span class="image-file">画像</span> 
					<input th:field="*{multiPartFile}" type="file" class="hidden">
				</label>
			</div>
			<input class="form-submit" type="submit" name="commit" value="送信">
		</form>
	</div>
</body>
</html>