<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="side-bar" layout:fragment="side_bar">
	<div class="side-bar-header">
		<div class="header-name">
			<a href="#" th:text="${username}"></a>
		</div>
		<div class="create-room">
			<a th:href="@{/rooms/new}">チャットを作成する</a>
		</div>
	</div>

	<div class="rooms">
		<div class="room" th:each="room: ${rooms}">
			<div class="room-name">
				<a th:href="@{'/rooms/'+${room.id}}" th:text="${room.roomName}"></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>